<! -- #region C#Code -->
@page "/addConsultant"
@using B3Consultants.Models;
@using B3ConsultantsUI.Services;
@using Blazored.FluentValidation;
@inject IConsultantService consultantService;
@inject NavigationManager NavigationManager;

<h3>Add Consultant</h3>

<EditForm Model="@consultant" OnValidSubmit="@AddConsultantFunc">
    <FluentValidationValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <div class="col-md-8">

            <label class="col-form-label">First name:</label>
            <div class="col-md-6">
                <InputText @bind-Value="@consultant.FirstName"> </InputText>
                <ValidationMessage For="@(()=> consultant.FirstName)"/>
            </div>

            <label class="col-form-label">Last name:</label>
            <div class="col-md-6">
                <InputText @bind-Value="@consultant.LastName"> </InputText>
                <ValidationMessage For="@(()=> consultant.LastName)"/>
            </div>

            <label class="col-form-label">Role:</label>
            <div class="col-md-6">
                <InputNumber @bind-Value="@consultant.RoleId"> </InputNumber>
                <ValidationMessage For="@(()=> consultant.RoleId)"/>
            </div>

            <label class="col-form-label">Experience:</label>
            <div class="col-md-6">
                <InputNumber @bind-Value="@consultant.ExperienceId"> </InputNumber>
                <ValidationMessage For="@(()=> consultant.ExperienceId)"/>
            </div>

            <label class="col-form-label">Description:</label>
            <div class="col-md-6">
                <InputText @bind-Value="@consultant.Description"> </InputText>
                <ValidationMessage For="@(()=> consultant.Description)"/>
            </div>

            <label class="col-form-label">Hourly rate (pln/h net):</label>
            <div class="col-md-6">
                <InputNumber @bind-Value="@consultant.HourlyRatePlnNet"> </InputNumber>
                <ValidationMessage For="@(()=> consultant.HourlyRatePlnNet)"/>
            </div>

            <label class="col-form-label">Location:</label>
            <div class="col-md-6">
                <InputText @bind-Value="@consultant.Location"> </InputText>
                <ValidationMessage For="@(()=> consultant.Location)"/>
            </div>

             <label class="col-form-label">Availability:</label>
            <div class="col-md-6">
                <InputNumber @bind-Value="@consultant.AvailabilityId"> </InputNumber>
                <ValidationMessage For="@(()=> consultant.AvailabilityId)"/>
            </div>

            <label class="col-form-label">Profile source:</label>
            <div class="col-md-6">
                <InputText @bind-Value="@consultant.ProfileSource"> </InputText>
                <ValidationMessage For="@(()=> consultant.ProfileSource)"/>
            </div>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-danger" type="reset" @onclick="@Cancel">Cancel</button>

</EditForm>

@code {
    AddConsultantDTO consultant = new AddConsultantDTO();
    string message;

    protected async void AddConsultantFunc()
    {
        await consultantService.AddConsultant(consultant);
        NavigationManager.NavigateTo("/consultants?PageSize=15&PageNumber=1");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/consultants?PageSize=15&PageNumber=1");
    }
}
